/* Navigation Bar */
.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #333;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.logo span {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 5px;
    margin-right: 5px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: all 0.3s ease;
    position: relative;
}

.nav-links a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    transition: width 0.3s ease;
}

.nav-links a:hover:after {
    width: 100%;
}

.mobile-menu-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .nav-links {
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        background: rgba(255, 255, 255, 0.95);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        flex-direction: column;
        padding: 0;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
    }

    .nav-links.active {
        max-height: 300px; /* Adjust as needed */
        opacity: 1;
    }

    .slide-down {
        max-height: 300px;
        opacity: 1;
    }

    .slide-up {
        max-height: 0;
        opacity: 0;
    }

    .nav-links li {
        text-align: center;
        opacity: 0;
        transform: translateY(-10px);
        margin: 20px;
        transition: all 0.3s ease-in-out;
    }
    .nav-links li a{
        background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        margin-left: 5px;
        margin-right: 5px;
    }

    .nav-links.active li {
        opacity: 1;
        transform: translateY(0);
    }

    .mobile-menu-btn {
        display: block;
    }
}


